body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:black;
  background-image: url('https://images.freeimages.com/images/large-previews/bd9/autumn-tree-1362811.jpg');
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
}

button{
	cursor:pointer;
}
